/* Base Layout */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --border-color: black;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.base {
  background: rgb(0, 162, 255);
  height: 100vh;
  width: 100vw;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.configureSections {
  display: flex;
  width: 100%;
  justify-content: space-around;
  
}

button {
  cursor: pointer;
  padding: 2px;
  font-size: 1.5rem;
  min-width: 40px;

  background: none;
  border: solid var(--border-color) 1px;
}

/* Containers to set Session & Break length */

.sessionAndBreakContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 33%;
  min-width: 150px;

  border: solid var(--border-color) 2px;
  border-radius: 10px;
  
  padding: 2px;
}

.sessionAndBreakContainers * {
  margin: 4px;
}

/* Timer */
.timerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  

  /* padding: 100px; */

  border: solid var(--border-color) 2px;
  border-radius: 10px;
}

.timerButtonsContainer {
  display: flex;
  justify-content: space-around;
  padding: 2px;

  width: 100%;
}

.timerButtonsContainer * {
  margin: 5px;
}
