/* Base Layout */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.base {
  background: red;
  height: 100vh;
  width: 100vw;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.configureSections {
  display: flex;
  width: 100%;
  justify-content: space-around;
  
  background: green;
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 2rem;
}

/* Timer */
.timerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 100px;

  border: solid black 2px;
  border-radius: 10px;
}

/* Containers to set Session & Break length */

.setTimeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background: blue;
}

  .timerButtonsContainer {
    display: flex;
    justify-content: space-around;

    width: 100%;
    background: yellow
  }